body {
    text-align: center;
    font-family: Arial;
    background-color: #111;
    color: white;
}

#array {
    margin: 20px;
}

.bar {
    width: 30px;
    display: inline-block;
    margin: 2px;
    background-color: blue;
    cursor: pointer;
}

/* States */
.comparing {
    background-color: yellow;
}

.swapping {
    background-color: red;
}

.sorted {
    background-color: green;
}

/* Button */
button {
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    cursor: pointer;
    font-weight: bold;
}